<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063223985779-t7alm889uncg77i5lee4rdloen6k0mrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063223985779-t7alm889uncg77i5lee4rdloen6k0mrl</string>
	<key>API_KEY</key>
	<string>AIzaSyDD5UD2DPYBXVsTcjHQX2fEl7piOcmz9jo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063223985779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungnguyen0414.What-The-Fridge-iOS</string>
	<key>PROJECT_ID</key>
	<string>what-the-fridge-331522</string>
	<key>STORAGE_BUCKET</key>
	<string>what-the-fridge-331522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063223985779:ios:3d5a5362c9e530040c8c06</string>
</dict>
</plist>